body {
   font-family: Arial;
   margin: 0;
   padding: 20px;
   background-color: #f4f4f4;
   background-image: url(./assets/img/christin-hume-Hcfwew744z4-unsplash.jpg);
   background-size: cover;
}

h1 {
   text-align: center;
   color: #25702f;
   font-size: 30px;
   padding-bottom: 10px;
}

form {
   max-width: 400px;
   margin: 0 auto;
   background-color: #fff;
   padding: 20px;
   border-radius: 30px;
   box-shadow: 0px 0px 10px 0px rgba(11, 11, 11, 0.1);
}

label {
   display: block;
   margin-bottom: 10px;
   font-size: 18px;
}

input[type="text"] {
   width: 95%;
   padding: 10px;
   margin-bottom: 20px;
   border-radius: 5px;
   border: 1px solid #ccc;
}

input[type="submit"] {
   width: 100%;
   padding: 10px;
   background-color: #25702f;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   font-size: 18px;
}

input[type="submit"]:hover {
   background-color: #000000;
}
